@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&display=swap');

:root{
    --my-padding: 0.4rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    color: white;
    display: grid;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.5fr 0.3fr;
    grid-template-areas: 
    "header nav nav nav"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner"
    ;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}
header{
    align-items: center;
    background-color: black;
    display: grid;
    grid-area: header;
}
nav{
    align-items: center;
    background-color: red;
    display: grid;
    grid-area: nav;
    }
.hero{
    align-items: center;
    display: grid;
    background-color: lightskyblue;
    grid-area: hero;
    padding: var(--my-padding);
}
main{
    align-items: center;
    background-color: darkred;
    display: grid;
    grid-area: main;
    padding: var(--my-padding);
}
.image{
    align-items: center;
    background-color: violet;
    display: grid;
    grid-area: image;
    padding: var(--my-padding);
}
.extra{
    align-items: center;
    background-color: greenyellow;
    display: grid;
    grid-area: extra;
    padding: var(--my-padding);
}
.banner{
    align-items: center;
    background-color: orange;
    display: grid;
    grid-area: banner;
    padding: var(--my-padding);
}

@media (max-width: 1024px) {
    .container{
        grid-template-columns: 1fr 1.4fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 0.5fr 0.5fr;
        grid-template-areas:
        "header header header"
        "hero hero hero"
        "nav main main"
        "nav banner banner"
        "nav extra image"
        ;
    }
}

@media (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 1fr 1.3fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ; 
    }
}



